USE [master]
GO
/****** Объект:  Database [Fixit]    Дата создания скрипта: 15.06.2026 21:33:19 ******/ 
CREATE DATABASE [Fixit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fixit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Fixit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fixit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Fixit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fixit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fixit]
GO
/****** Объект:  Table [dbo].[Clients]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Orders]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[DateCreate] [date] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Client] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Photo] [image] NULL,
	[TotalPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Orders_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrdersServices]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersServices](
	[ID] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
 CONSTRAINT [PK_OrdersServices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Services]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[GoupName] [int] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[SGroup]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGroup](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[StatusOrders]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOrders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_StatusOrders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[User]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](12) NULL,
	[Mail] [nvarchar](50) NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[UserType]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PayCount] [decimal](18, 2) NOT NULL,
	[DaysWorks] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ID], [FullName], [Phone]) VALUES (1, N'Алексеев Дмитрий Владимирович', N'79161111111')
INSERT [dbo].[Clients] ([ID], [FullName], [Phone]) VALUES (2, N'Борисова Елена Николаевна', N'79162222222')
INSERT [dbo].[Clients] ([ID], [FullName], [Phone]) VALUES (3, N'Васильев Артем Павлович', N'79163333333')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
INSERT [dbo].[Orders] ([ID], [Number], [DateCreate], [Name], [Client], [Status], [Photo], [TotalPrice]) VALUES (1, 1, CAST(N'2026-03-01' AS Date), N'Ноутбук ASUS', 1, 3, NULL, CAST(1100.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([ID], [Number], [DateCreate], [Name], [Client], [Status], [Photo], [TotalPrice]) VALUES (4, 4, CAST(N'2026-03-10' AS Date), N'Ноутбук Dell', 4, 3, NULL, CAST(2500.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([ID], [Number], [DateCreate], [Name], [Client], [Status], [Photo], [TotalPrice]) VALUES (5, 5, CAST(N'2026-03-12' AS Date), N'Ноутбук GG', 3, 3, NULL, CAST(0.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[OrdersServices] ([ID], [OrderId], [ServiceId]) VALUES (1, 1, 5)
INSERT [dbo].[OrdersServices] ([ID], [OrderId], [ServiceId]) VALUES (2, 1, 6)
INSERT [dbo].[OrdersServices] ([ID], [OrderId], [ServiceId]) VALUES (7, 4, 11)
GO
INSERT [dbo].[Services] ([ID], [Name], [Price], [GoupName]) VALUES (1, N'Замена WiFi модуля', CAST(100.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Services] ([ID], [Name], [Price], [GoupName]) VALUES (2, N'Замена оперативной памяти', CAST(200.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Services] ([ID], [Name], [Price], [GoupName]) VALUES (3, N'Замена клавиатуры', CAST(300.00 AS Decimal(18, 2)), 1)
GO
INSERT [dbo].[SGroup] ([ID], [Name]) VALUES (1, N'Замена Компонентов')
INSERT [dbo].[SGroup] ([ID], [Name]) VALUES (2, N'Исправление проблем с ОС')
INSERT [dbo].[SGroup] ([ID], [Name]) VALUES (3, N'Ремонт и чистка компьютерного блока')
GO
SET IDENTITY_INSERT [dbo].[StatusOrders] ON 

INSERT [dbo].[StatusOrders] ([ID], [Name]) VALUES (1, N'Process')
INSERT [dbo].[StatusOrders] ([ID], [Name]) VALUES (2, N'Ready')
INSERT [dbo].[StatusOrders] ([ID], [Name]) VALUES (3, N'Close')
SET IDENTITY_INSERT [dbo].[StatusOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Login], [Password], [Name], [SecondName], [LastName], [Phone], [Mail], [Type]) VALUES (1, N'admin', N'321', N'Иван', N'Иванович', N'Петров', N'89161234567', N'admin@fixit.ru', 1)
INSERT [dbo].[User] ([ID], [Login], [Password], [Name], [SecondName], [LastName], [Phone], [Mail], [Type]) VALUES (2, N'master1', N'master123', N'Сергей', N'Александрович', N'Смирнов', N'89162345678', N'master@fixit.ru', 2)
INSERT [dbo].[User] ([ID], [Login], [Password], [Name], [SecondName], [LastName], [Phone], [Mail], [Type]) VALUES (3, N'manager1', N'man123', N'Анна', N'Сергеевна', N'Козлова', N'89163456789', N'manager@fixit.ru', 3)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserType] ON 

INSERT [dbo].[UserType] ([ID], [Name], [PayCount], [DaysWorks]) VALUES (1, N'Администратор', CAST(50000.00 AS Decimal(18, 2)), N'пн-пт')
INSERT [dbo].[UserType] ([ID], [Name], [PayCount], [DaysWorks]) VALUES (2, N'Мастер', CAST(35000.00 AS Decimal(18, 2)), N'пн-сб')
INSERT [dbo].[UserType] ([ID], [Name], [PayCount], [DaysWorks]) VALUES (3, N'Менеджер', CAST(40000.00 AS Decimal(18, 2)), N'пн-пт')
SET IDENTITY_INSERT [dbo].[UserType] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [Uq_Phone]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [Uq_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [Uq_Order]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [Uq_Order] UNIQUE NONCLUSTERED 
(
	[Number] ASC,
	[DateCreate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [Uq_ID]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
ALTER TABLE [dbo].[OrdersServices] ADD  CONSTRAINT [Uq_ID] UNIQUE NONCLUSTERED 
(
	[OrderId] ASC,
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [Uq_Login]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [Uq_Login] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [Uq_UMail]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [Uq_UMail] UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [Uq_UPhone]    Дата создания скрипта: 15.06.2026 21:33:20 ******/ 
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [Uq_UPhone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([Client])
REFERENCES [dbo].[Clients] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_StatusOrders] FOREIGN KEY([Status])
REFERENCES [dbo].[StatusOrders] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_StatusOrders]
GO
ALTER TABLE [dbo].[OrdersServices]  WITH CHECK ADD  CONSTRAINT [FK_OrdersServices_Orders1] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrdersServices] CHECK CONSTRAINT [FK_OrdersServices_Orders1]
GO
ALTER TABLE [dbo].[OrdersServices]  WITH CHECK ADD  CONSTRAINT [FK_OrdersServices_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ID])
GO
ALTER TABLE [dbo].[OrdersServices] CHECK CONSTRAINT [FK_OrdersServices_Services]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_SGroup] FOREIGN KEY([GoupName])
REFERENCES [dbo].[SGroup] ([ID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_SGroup]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserType] FOREIGN KEY([Type])
REFERENCES [dbo].[UserType] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserType]
GO
USE [master]
GO
